@import "./reset";
@import "./mixin.scss";

li {
  list-style-type: none;
}
.wrapper {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: end;

    &__icon {
      width: 44px;
      height: 37px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7%;
    }

    &__item {
      padding: 8px 56px 8px 12px;
      background-color: #f5f5f5;
    }
    &__list {
      position: absolute;
      top: 11.7%;
    }
    &__link {
      text-decoration: none;
      @include fontSizeSmall();
      color: #4e4e4e;
      line-height: 22px;
      text-transform: uppercase;
    }
    &__item:hover {
      background-color: #e5e5e5;
    }
    &__link:hover {
      color: #57a4a4;
    }
  }
  .material-symbols-outlined {
    color: white;
  }
  .invisible {
    display: none;
  }
  .main {
    &__img {
      width: 85vw;
      height: 25vh;
      padding-top: 7%;
    }
    &__link {
      @include fontSizeLarge();
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &__link_instagram_page {
      @include fontSizeLarge();
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &__div {
      margin-top: 14%;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 8%;
    }
    &__content_div {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin-top: 10%;
    }
    &__content_div h2 {
      padding-top: 6%;
      @include fontSizeLarge();
      line-height: 30px;
    }
    &__content_div p {
      @include fontSizeSmall();
      line-height: 20px;
      color: #7c7c7c;
    }
  }
  .instagram-shots-img {
    width: 85vw;
    height: 55vh;
    padding-top: 5%;
  }
  .footer {
    background-color: #000000;
    margin-top: 10%;
    &__h2 {
      @include fontSizeLarge();
      line-height: 22px;
      color: #fefefe;
      text-transform: uppercase;
      text-align: center;
      padding-top: 10%;
    }
    &__p {
      @include fontSizeSmall();
      line-height: 20px;
      color: #b9b9b9;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 7%;
      padding-left: 17%;
      width: 65%;
    }
  }
  .social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-networks a {
    padding-right: 2%;
  }
  .invisible {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    width: 70%;
    padding-left: 15%;
    &__icon {
      display: none !important;
    }

    &__list {
      display: flex;
      position: initial;
      justify-content: space-around;
      align-items: center;
      padding-top: 8%;
    }
    &__link {
      text-decoration: none;
      @include fontSizeSmall();
      line-height: 22px;
      text-transform: uppercase;
      display: flex;
      color: #4e4e4e;
      // letter-spacing: 0.1rem;
    }
    &__link:hover {
      color: #57a4a4;
    }
  }
  .main {
    &__img {
      width: 85vw;
      height: 60vh;
      padding-top: 7%;
    }
    &__link {
      @include fontSizeLarge();
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &__link_instagram_page {
      @include fontSizeLarge();
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &__div {
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__content_div,
    &__content_div_flowers {
      display: flex;
      margin-top: 5%;
    }

    &__content_info {
      flex-basis: 40vw;
      margin-left: 7%;
    }
    &__content_div h2,
    &__content_div_flowers h2 {
      padding-top: 6%;
      @include fontSizeLarge();
      line-height: 30px;
    }
    &__content_div p,
    &__content_div_flowers p {
      @include fontSizeSmall();
      line-height: 20px;
      color: #7c7c7c;
    }
    &__pictures {
      display: flex;
      justify-content: space-between;
    }
    &__pictures img {
      width: 28vw;
      height: 40vh;
      padding-top: 7%;
    }
  }
  .footer {
    background-color: #000000;
    margin-top: 10%;
    &__h2 {
      @include fontSizeLarge();
      line-height: 22px;
      color: #fefefe;
      text-transform: uppercase;
      text-align: center;
      padding-top: 10%;
    }
    &__p {
      @include fontSizeSmall();
      line-height: 20px;
      color: #b9b9b9;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 7%;
      padding-left: 17%;
      width: 65%;
    }
  }
  .social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-networks a {
    padding-right: 2%;
  }
  .info_comments,
  .info_comments_walks,
  .info_comments_cafe,
  .info_comments_flowers {
    padding-top: 2%;
    color: #5c5c5c !important;
  }
  .invisible {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navigation {
    width: 70%;
    padding-left: 15%;
    &__icon {
      display: none !important;
    }

    &__list {
      display: flex;
      position: initial;
      justify-content: space-around;
      align-items: center;
      padding-top: 8%;
    }
    &__link {
      text-decoration: none;
      @include fontSizeSmall();
      line-height: 22px;
      text-transform: uppercase;
      display: flex;
      color: #4e4e4e;
      // letter-spacing: 0.1rem;
    }
    &__link:hover {
      color: #57a4a4;
    }
  }
  .main {
    &__img {
      width: 85vw;
      height: 90vh;
      padding-top: 7%;
    }
    &__link {
      @include fontSizeLarge();
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &__link_instagram_page {
      @include fontSizeLarge();
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &__div {
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
    }
    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__content_div,
    &__content_div_flowers {
      width: 50%;
      padding: 25px 0;
      display: flex;
    }

    &__content_info {
      flex-basis: 40vw;
      margin-left: 7%;
    }
    &__content_div h2,
    &__content_div_flowers h2 {
      padding-top: 6%;
      @include fontSizeLarge();
      line-height: 30px;
    }
    &__content_div p,
    &__content_div_flowers p {
      @include fontSizeSmall();
      line-height: 20px;
      color: #7c7c7c;
    }
    &__pictures {
      display: flex;
      justify-content: space-between;
    }
    &__pictures img {
      width: 21vw;
      height: 55vh;
      padding-top: 7%;
    }
  }
  .footer {
    background-color: #000000;
    margin-top: 10%;
    &__h2 {
      @include fontSizeLarge();
      line-height: 22px;
      color: #fefefe;
      text-transform: uppercase;
      text-align: center;
      padding-top: 10%;
    }
    &__p {
      @include fontSizeSmall();
      line-height: 20px;
      color: #b9b9b9;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 7%;
      padding-left: 17%;
      width: 65%;
    }
  }
  .social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-networks a {
    padding-right: 2%;
  }
  .info_comments,
  .info_comments_walks,
  .info_comments_cafe,
  .info_comments_flowers {
    padding-top: 2%;
    color: #5c5c5c !important;
  }
  .invisible {
    display: none;
  }
}
